NODE_ENV=<your_value_here>
PORT=<your_value_here>

# To run proper HTTPS locally, you need self-signed certs. If omitted, it falls back to HTTP.
SSL_KEY_PATH=<your_value_here>
SSL_CERT_PATH=<your_value_here>

# Secret for decoding JWT Token at API Gateway to enforce RBAC/ABAC
JWT_SECRET=<your_value_here>

# Services Host URLs
AUTH_SERVICE_URL=<your_value_here>
BOOKING_SERVICE_URL=<your_value_here>
RIDE_SERVICE_URL=<your_value_here>
PRICING_SERVICE_URL=<your_value_here>
PAYMENT_SERVICE_URL=<your_value_here>
