PORT=<your_value_here>
NODE_ENV=<your_value_here>

MONGO_URI=<your_value_here>

KAFKA_BROKERS=<your_value_here>
KAFKA_CLIENT_ID=<your_value_here>
KAFKA_GROUP_ID=<your_value_here>

REDIS_URL=<your_value_here>

LOG_LEVEL=<your_value_here>
SERVICE_ID=<your_value_here>
